* {
    box-sizing: border-box;
  }

body {
    background-color: #FAFAFA;
}

.topo-mobile {
    display: none;
}

.topo {
    height: 54px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #DBDBDB;
    z-index: 1;
}

.topo div:first-child {
    display: flex;
    align-items: center;
}

.topo img{
    padding-left: 10px;
}

.topo ion-icon {
    font-size: 18px;
    padding: 0px 10px;
}

.topo ion-icon:hover {
    cursor: pointer;
}

.icons ion-icon {
    border-right: 1px solid #DBDBDB;
}

.topo input::placeholder {
    text-align: center;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 14px;
    color: #979797;
    background-color: #FAFAFA;
    margin: 0px;
    padding: 0px;
}

.corpo {
    width: 935px;
    margin: 88px auto 0px;
    display: flex;
    position: relative;
}

.left-content {
    width: 614px;
}

.stories {
    height: 118px;
    width: 614px;
    margin: 0px 0px 24px 0px;
    border: 1px solid #DBDBDB;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-color: #FFF;
}

.stories ion-icon {
    position: absolute;
    color: #FFF;
    font-size: 32px;
    right: 10px;
    opacity: 0.98;
}

.stories ion-icon:hover {
    cursor: pointer;
}

.stories a {
    width: 78px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.stories > div {
    width: 78px;
    height: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
}

.story {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 66px;
    height: 66px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/stories_background.png");
}

.story:hover {
    cursor: pointer;
}

.story img {
    height: 56px;
    width: 56px;
    border-radius: 56px;
}

.posts {
    width: 614px;
    display: flex;
    flex-direction: column;
}

.post {
    margin-bottom: 60px;
}

.post img {
    width: 100%;
}

.post video {
    width: 100%;
}

.post-top {
    height: 60px;
    background-color: #FFF;
    border: 1px solid #DBDBDB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 17px;
}

.post-top div {
    display: flex;
    align-items: center;
}

.post .post-top img {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    margin: 15px 15px 13px 17px;
}

a {
    text-decoration: none;
    color: #262626;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.post-bottom {
    background-color: #FFF;
    border: 1px solid #DBDBDB;
}

.post-bottom img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 0px 10px 10px 10px;
}

.post-bottom ion-icon {
    font-size: 18px;
    padding: 10px 10px;
}

.post-bottom ion-icon:hover {
    cursor: pointer;
}

.post-bottom div {
    display: flex;
}

.post-bottom div:first-child {
    justify-content: space-between;
}

.post-bottom p {
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

.post-bottom a {
    text-decoration: none;
    color: #262626;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.sidebar {
    width: 293px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 614px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile p {
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #8E8E8E;
}

.profile img {
    height: 56px;
    width: 56px;
    border-radius: 56px;
    margin: 23px 17px 24px 30px;
}

.profile img:hover {
    cursor: pointer;
}

.miniprofile {
    display: flex;
    align-items: center;
}

.miniprofile p {
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #8E8E8E;
}

.miniprofile img {
    height: 32px;
    width: 32px;
    border-radius: 32px;
    margin: 16px 17px 11px 30px;
}

.suggestions {
    display: flex;
    flex-direction: column;
}

.suggestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggestions .suggestion:first-child p {
    margin-left: 30px;
    font-size: 12px;
    font-family: 'Roboto';
    line-height: 14px;
    font-weight: 500;
    color: #8E8E8E;
}

.suggestions .suggestion:first-child a {
    margin-left: 30px;
    font-size: 12px;
    font-family: 'Roboto';
    line-height: 14px;
    font-weight: 500;
    color: #262626;
}

.suggestion a:last-child {
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #139EF2;
}

.suggestion ion-icon {
    font-size: 12px;
    color: #3897F0;
}

.miniprofile p {
    font-size: 12px;
}

.miniprofile img:hover {
    cursor: pointer;
}

.useful {
    margin-left: 30px;
    margin-top: 33px;
}

.useful a {
    font-family: Roboto;
    font-size: 11px;
    line-height: 13px;
    color: #c7c7c7;
}

.useful p {
    font-family: Roboto;
    font-size: 11px;
    line-height: 13px;
    color: #c7c7c7;
    margin-top: 18px;
}

.mobile-bottom {
    display: none;
}


@media (max-width: 935px) {
    .corpo {
        margin: 88px auto 20px;
        width: 614px;
    }

    .sidebar {
        display: none;
        width: 0px;
    }
}


@media (max-width: 614px) {
    .topo {
        display: none;
    }

    .topo-mobile {
        display: block;
        height: 54px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #FFF;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #DBDBDB;
        z-index: 1;
        padding: 0px 22px;
        box-sizing: border-box;
    }

    .topo-mobile ion-icon {
        padding: 0px 10px;
    }

    .corpo {
        width: 100vw;
        margin: 54px auto 54px;
        display: block;
    }

    .stories {
        border: none;
        height: 97px;
        background-color: #FAFAFA;
    }

    .stories ion-icon {
        display: none;
    }

    .posts {
        width: 100%;
    }

    .sidebar {
        display: none;
    }

    .mobile-bottom {
        width: 100%;
        height: 54px;
        padding: 0px 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #FFF;
        box-sizing: border-box;
    }
}